@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes right { /* animação para que a barra esquerda azul apareça na tela */
    from {
        transform: translateX(-100%); /* não existe nenhum pedaço aparecendo na tela da barra */
    }
    to {
        transform: translateX(0); /* aparece todo na tela */
    }
}

@keyframes appear { /* aparição do mapa*/
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-up {
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: backwards; /* transição perfeita, depois para */
}

.animate-right { /* animação da barra esquerda azul */
    animation-name: right;
    animation-duration: 300ms;
}

.animate-appear { /* animação do mapa */
    animation-name: appear;
    animation-duration: 700ms;
    animation-fill-mode: backwards; /* transição perfeita, depois para */
}